html{
  scroll-behavior: smooth;
}


/*
----------- Navbar --------------
*/
header {
  font-style: 'Fira Sans Extra Condensed', sans-serif; 
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  height: 65px;
}

.navbar-fixed-top.scrolled {
  background-color: #ffffff !important;
  transition: background-color 200ms linear;
}

nav ul {
  font-style: 'Fira Sans Extra Condensed', sans-serif;
  display: inline-block;
  padding-left: 0;
  list-style: none;
  padding: 20px;
  margin-bottom: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

nav li {
  font-style: 'Fira Sans Extra Condensed', sans-serif;
  display: inline-block;
  margin: 10px;
}

nav li a {
  font-style: 'Fira Sans Extra Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333333;
  font-size: 11px;
  font-weight: bold;
}

a:focus {
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: #937666;
  text-decoration: none;
  font-size: 12px;
}



/*
----------- Sections --------------
*/
#home {
  background: url("../img/back_bw.JPG");
  background-size: cover;
  height: 100vh;
  background-position: center center; 
}

#about {
  padding: 100px 0;
  background: #333;
  height: 100%;
}


#experience {
  padding: 100px 0;
  background: #fff;
  height: 100%;
}

#break{
  padding: 100px 0;
  background: #313131 url("../img/bg.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding-top: 12rem;
  padding-bottom: 12rem;
  color: white;
  position: relative;
}

#skills {
  padding: 100px 0;
  background: #f3f3f3;
}


/*
----------- Fonts --------------
*/
h1 {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 80px;
  line-height: 70px;
  color: #f3f3f3;
}

h2 {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 60px;
  line-height: 70px;
}

h3 {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #937666;
}

h4 {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #937666;
}

p {
  font-style: 'Fira Sans Extra Condensed', sans-serif; 
  font-size: 30px;
  letter-spacing: 1px;
}


/*
----------- Home Page --------------
*/

/* social links */
.social {
 margin: 24px 0;
 padding: 0;
 font-size: 30px;
 text-align: center;
}
.social li {
 display: inline-block;
 margin: 0 15px;
 padding: 0;
}
.social li a { color: #fff; }

.social li a:hover { 
  color: #333333; 
  font-size: 30px;
}



.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.disply-table {
  display: table;
  height: 100vh;
}

.bg-nav {
  background: #fff;
  border-bottom: 1px solid #f3f3f3
}

.bg-nav ul {
  padding: 10px;
}


/*
-------- About me ----------
*/

.bio{
  color: #fff;
  padding: 3%;
  font-size: 20px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.interests p {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  color: #fff;
}


#about h2 {
  color: #f3f3f3;
}


#about .home_btns{
    margin-left:-10px;
    padding: 3%;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
}

#about .home_btns .btn{
    margin-left:10px;
}

.btn{
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    font-size:15px;
    border:1px solid;
    padding: 1rem 4rem;
}
.btn-primary{
    color: #fff;
    background-color: #937666;
    border:1px solid;
    border-color: #937666;

}
.btn-primary:hover{
    background-color: #fff;
    border-color: #3D3A4B;
    font-size:15px;
    color:#3D3A4B;
}


.features_item .f_item_icon{
    float: left;
    width:15%;
    display: inline-block;
    margin-right: 15px;
}
.features_item .f_item_icon i{
    background-color: #937666;
    font-size: 17px;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #937666;
    display: inline-block;
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.features_item .f_item_text{
    display: inline-block;
    width:75%;
    margin-top: 3%;
}

.features_item:hover .f_item_icon i{
    background-color: #fff;
    border-color:#fff;
    color:#3D3A4B;
}

.features_item:hover .f_item_text{
    font-weight: bold;
}

.features_item {
  margin-top: 4%;
}



/*---------------------------------------
    Experience section              
-----------------------------------------*/
#education {
  background: #fff;
}

#education .experience-img {
  background: url('../img/stuff.jpg') no-repeat;
}


#education .media-heading {
  margin-bottom: 0px;
}

#education .media .fa {
  font-size: 42px;
  margin-right: 14px;
}

#education .media-body .fa {
  font-size: 17px;
  margin-right: 14px;
}

#education small {
  color: #888888;
  font-size: 17px;
}



/*---------------------------------------
    Education section              
-----------------------------------------*/

#formation {
  background: #f3f3f3;
  padding-left: 7%;
}

#formation .media-heading {
  margin-bottom: 0px;
}

#formation .media .fa {
  font-size: 42px;
  margin-right: 14px;
}

#formation small {
  color: #888888;
  font-size: 17px;
}

#formation .media-body .fa {
  font-size: 17px;
  margin-right: 14px;
}


#education p,
#formation p{
  font-size:15px;
  margin-top: 3%;
}


#education,
#formation{
  position: relative;
}

#education .media,
#formation .media {
  padding: 3%;
}

#education .container,
#formation .container {
  width: 100%;
  padding: 0;
  margin: 0;
}

#education .experience-thumb, 
#formation .education-thumb{
  padding: 10%;
}


.background-image {
    background-position: 50% 50% !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
    min-height: 75vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


@media only screen and (max-width: 767px) {

  #education .container,
  #formation .container {
    padding-right: 15px;
    padding-left: 15px;
  }


  #education .col-md-6,
  #formation .col-md-6{
    padding: 0;
    margin: 0;
  }

  .background-image {
    position: relative;
    min-height: 65vh;
  }
}


/* ------------- Experience -------------------- */


#experience .timeline-wrap {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 6rem;
}
#experience .timeline-wrap::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 35%;
  top: 0;
}
#experience .timeline-block {
  position: relative;
  padding-top: 1.5rem;
  margin-bottom: 10%;
}
#experience .timeline-ico {
  height: 4.8rem;
  width: 4.8rem;
  line-height: 4.8rem;
  background: #313131;
  border-radius: 50%;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  left: 35%;
  top: 25px;
  margin-left: -2.4rem;
}
#experience .timeline-ico i {
  position: relative;
  left: .05rem;
  top: .2rem;
}

#experience .timeline-header {
  float: left;
  width: 35%;
  padding-right: 90px;
  text-align: right;
}
#experience .timeline-header h3 {
  margin-bottom: 0;
  color: #333;
}
#experience .timeline-header p {
  font-family: "poppins-regular", sans-serif;
  font-size: 1.6rem;
  color: #888888;
}
#experience .timeline-content {
  margin-left: 35%;
  padding-left: 60px;
}
#experience .timeline-content h4 {
  position: relative;
  padding-bottom: 1.8rem;
}
#experience .timeline-content h4::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  bottom: 0;
}

#experience .timeline-content p {
  font-size: 15px;
  margin-bottom: 10%;
}


/* ------------- Skills -------------------- */

#skills .feature_inner {
  margin-bottom: -30px; }

#skills .feature_item {
  padding: 50px 35px;
  border-radius: 10px;
  transition: all 300ms linear 0s;
  background: #fff;
  margin-bottom: 30px; }
  .feature_item i {
    margin-bottom: 35px;
    display: block; }
    .feature_item i:before {
      margin-left: 0px;
      font-size: 60px;
      color: #e1e1e1;
      line-height: 60px; }
  .feature_item h4 {
    color: #222222;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .feature_item p {
    margin-bottom: 0px; }
  .feature_item .main_btn {
    padding: 0px 30px;
    line-height: 38px; }
  .feature_item:hover {
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
    border-color: #fff; }
    .feature_item:hover i:before {
      background: -webkit-linear-gradient(to right, #1e130c, #9a8478); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1e130c, #9a8478);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }


#skills p {
  font-family: "poppins-regular", sans-serif;
  font-size: 1.6rem;
  color: #888888;
}

#skills .soft{
  margin-bottom: 10%;
}

.skill-bars {
  list-style: none;
  margin-left: -3%;
}
.skill-bars li {
  height: .6rem;
  background: #a1a1a1;
  width: 100%;
  margin-bottom: 6rem;
  padding: 0;
  position: relative;
}
.skill-bars li strong {
  position: absolute;
  left: 0;
  top: -3rem;
  font-family: "poppins-bold", sans-serif;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.skill-bars li .progress {
  background: #313131;
  position: relative;
  height: 100%;
}
.skill-bars li .progress span {
  position: absolute;
  right: 0;
  top: -3.6rem;
  display: block;
  font-family: "poppins-regular", sans-serif;
  color: white;
  font-size: 1.1rem;
  line-height: 1;
  background: #313131;
  padding: .6rem .6rem;
  border-radius: 3px;
}
.skill-bars li .progress span::after {
  position: absolute;
  left: 50%;
  bottom: -5px;
  margin-left: -5px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #313131;
  content: "";
}

.skill-bars li .percent5   { width: 5%; }
.skill-bars li .percent10  { width: 10%; }
.skill-bars li .percent15  { width: 15%; }
.skill-bars li .percent20  { width: 20%; }
.skill-bars li .percent25  { width: 25%; }
.skill-bars li .percent30  { width: 30%; }
.skill-bars li .percent35  { width: 35%; }
.skill-bars li .percent40  { width: 40%; }
.skill-bars li .percent45  { width: 45%; }
.skill-bars li .percent50  { width: 50%; }
.skill-bars li .percent55  { width: 55%; }
.skill-bars li .percent60  { width: 60%; }
.skill-bars li .percent65  { width: 65%; }
.skill-bars li .percent70  { width: 70%; }
.skill-bars li .percent75  { width: 75%; }
.skill-bars li .percent80  { width: 80%; }
.skill-bars li .percent85  { width: 85%; }
.skill-bars li .percent90  { width: 90%; }
.skill-bars li .percent95  { width: 95%; }
.skill-bars li .percent100 { width: 100%; }


/* ------------- Footer -------------------- */


footer {
   padding-top: 48px;
   color: #937666;
   font-size: 14px;
   text-align: center;
   position: relative;
   background-color: #333;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #937666;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}

footer .social-links li a:hover {
   font-size: 30px;
}


footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
  position: absolute;
  top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #525252;

  -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
  border-radius: 100%;
}
#go-top a:hover { background-color: #937666; }



/* ------------- Animação -------------------- */


.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


@media only screen and (max-width:1024px) {
  #experience .timeline-header {
    padding-right: 50px;
  }
  #experience .timeline-header h3 {
    font-size: 1.8rem;
  }
  #experience .timeline-header p {
    font-size: 1.4rem;
  }
  #experience .timeline-content {
    padding-left: 50px;
  }
}
@media only screen and (max-width:768px) {
  #experience .timeline-wrap::before {
    left: 2.4rem;
  }
  #experience .timeline-ico {
    left: 2.4rem;
  }
  #experience .timeline-header {
    float: none;
    width: auto;
    padding-right: 15px;
    text-align: left;
  }
  #experience .timeline-header h3 {
    font-size: 2rem;
  }
  #experience .timeline-header p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #experience .timeline-content {
    margin: 0;
  }
  #experience .timeline-content h4 {
    padding-bottom: 0;
    padding-top: 2.1rem;
    margin-bottom: .6rem;
    font-size: 1.7rem;
  }
  #experience .timeline-content h4::after {
    bottom: auto;
    top: 0;
  }
  #experience .timeline-header, #experience .timeline-content {
    padding-left: 7rem;
  }
}
@media only screen and (max-width:480px) {
  #resume .resume-header h2 {
    font-size: 2.2rem;
  }
  #resume .timeline-wrap::before {
    left: 1.8rem;
  }
  #resume .timeline-ico {
    height: 3.6rem;
    width: 3.6rem;
    line-height: 3.6rem;
    left: 1.8rem;
    margin-left: -1.8rem;
    font-size: 1.5rem;
  }
  #resume .timeline-header, #resume .timeline-content {
    padding-left: 5.5rem;
  }
}




/* scrolldown */

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down:hover{
  background-color: #333;
  border-color: #333;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}


.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid white;
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
